/**
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 32%;
height: 450px;
float: left;
vertical-align: middle;
box-sizing: border-box;
margin: 5px;
padding: 10px;
border: gray solid 1px;
}
.thumbnail {
width: 100%;
height: 200px;
box-sizing: border-box;
overflow: hidden;
}
.thumbnail img {
max-width: 100%;
height: auto;
position: relative;
border: gray solid 1px;
border-radius: 20%;
padding: 2px;
}
.thumbnail a {
float: left;
position: relative;
width: 100%;
height: 230px;
}
.thumbnail a span {
display: none;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.4);
//color: $grey-color-light;
padding: 40px;
text-align: center;
}
.description {
text-align: center;
}
/**
 * Portfolio pages **********************************************************
*/
.project-icon {
float: right;
border: gray solid 1px;
padding: 5px;
line-height: 10px;
}
.project-icon img {
width: 120px;
}
.blankbox{
//background: $theme-color;
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.col{
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.left{
text-align: left;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}